.image-container {
  margin: auto;
  position: relative;
}

.top-image {
  width: 75%;
}

.bottom-image {
  width: 50%;
}

.top-image h1 {
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
  padding: 10px;
}

img {
  width: 100%;
}

#top-header {
  top: 35px;
  left: 5%;
}

#bottom-header {
  bottom: 35px;
  left: 60%;
}

.overlay-text {
  color: white;
  position: absolute;
  height: 75%;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text h1 {
  font-size: 50px;
  position: relative;
  top: 0%;
}

.overlay-text h2 {
  font-size: 35px;
  position: relative;
  top: 65%;
}
