body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

nav {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  float: left;
  font-size: 20px;
  padding: 10px;
}

nav p {
  margin: 10px;
  font-size: 30px;
  color: rgb(204, 51, 63);
}
